<div class="full-sidebar border"> 
  
  <div class="sidebar-icons">
    <li class="mt-3 icons d-flex " >
      <div class="" [innerHTML]="currentHomeIcon"></div>
      <div class="">Dashboard</div>
    </li>
    <li class="mt-3 icons d-flex " >
      <div class="" [innerHTML]="currentKeyIcon"></div>
      <div class="">API Keys</div>
    </li>
    <li class="mt-3 icons d-flex " >
      <div class="" [innerHTML]="currentUsageIcon"></div>
      <div class="">Usages</div>
    </li>
    <li class="mt-3 icons d-flex " >
      <div class="" [innerHTML]="currentSettingsIcon"></div>
      <div class="">Settings</div>
    </li>
    
  </div>
</div>